# Python packaging artifacts
*.egg-info/
build/
dist/

# Bytecode and cache
__pycache__/
*.py[cod]

# Virtual environments 
.venv/
venv/


# Environment files
.env

# Data folder used by agenticrag in examples
.agenticrag_data