.block-container {
  padding-top: 1rem !important;
  padding-bottom: 1rem;
}


h1,
h2,
h3,
h4 {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Arial, sans-serif;
}



.user-bubble {
  background: #eef4ff;
  border: 1px solid #d5e2ff;
}

::-webkit-scrollbar {
  display: none !important;
}

.agent-bubble {
  background: #3459a3;
  border: 1px solid #e8ecf3;
}


button[data-baseweb="tab"] {
  width: 100px;
}



div[data-testId="stChatInput"] > div{
  border-radius: 16px; 
  max-height: none !important;
}

textarea[data-testid="stChatInputTextArea"] {
  height: 2rem;
  position: fixed;
}



label[data-baseweb="radio"] {
  display: flex;
  align-items: center;
  width: 12rem;
  min-width: 7rem;
  background-color:  rgba(250, 250, 250, 0.1);
  height: 50px;
  margin-bottom: 5px;
  border: 2px solid rgba(250, 250, 250, 0.1);
  background-clip: padding-box;
}

label[data-baseweb="radio"] > div:nth-child(1) {
  opacity: 0;
  display: none;
}

label[data-baseweb="radio"]:has(> input[tabindex="0"]) {
  transition: 0.2s ease-in-out;
  border: 2px solid rgb(255, 75, 75);
}

label[data-baseweb="radio"]:has(> input[tabindex="0"]) *{
  color: rgb(255, 75, 75);
}